---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import base64 from 'base-64';

const { slug } = Astro.params;

const apiUrlPosts = `${import.meta.env.PUBLIC_APIURL}/posts`;
const apiUrl = `${apiUrlPosts}?slug=${slug}`;



let res = await fetch(apiUrl);
let [post] = await res.json();


// The getStaticPaths() is required for static Astro sites.
// If using SSR, you will not need this function.
export async function getStaticPaths() {
  let data = await fetch(apiUrlPosts);
  let posts = await data.json();
  
  
  return posts.map((post: any) => ({
    params: { slug: decodeURIComponent(post.slug) },
    props: { post: post },
  }));
}
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="POST" description="DES POST WP" />
	</head>
	<body>
		<Header />
		<main>
			<section title={post?.title.rendered}>
                <article>
                  <h1 set:html={post?.title.rendered} />
                  <Fragment set:html={post?.content.rendered} />
                </article>
            </section>
		</main>
		<Footer />
	</body>
</html>
